<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ff.kubernetes.kuberflow.13</string>
	<key>connections</key>
	<dict>
		<key>0CA99CEF-6C99-4F9E-9D64-7550D035BFCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B84D8EEF-3E61-4C5D-B8AD-1848135631E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E65A92E-AB50-4CB0-951B-13420E7E7758</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0A13C15-5625-4F49-880A-83FA07DA53E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19A5D1B2-3845-42B4-AA54-24B2AA621FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DD3C535-18E2-49C2-8B40-61CBAD276714</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⚠️ Hit return to delete ⚠️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93F099D5-3CE0-4964-9C67-D5A91E31DFFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2388E981-67F3-4F51-A4F3-FDE9D8B3FF63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2466C1EE-A094-4143-B5AB-B301EDB10FAB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B41338A-22F2-4A29-87D4-7F082724D9F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA3AB7C3-077F-45B8-B7C3-4A2AE46B3C79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DD3C535-18E2-49C2-8B40-61CBAD276714</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CEFAEC1-AAD5-4E24-BF48-B2A0E9A27D9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>512A23DA-B2FC-4980-A99A-FB26ECB61005</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09813773-DD6D-4F9D-B8AF-BD5C086272F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83BD9125-A9FB-47F3-88D9-62E6879A9C1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93F099D5-3CE0-4964-9C67-D5A91E31DFFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CBF0965E-BE62-4EF2-ACD2-82C612DE8B17</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>⚠️ Hit return to delete ⚠️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>868CAD17-CC2B-4C35-8AE1-A216082DC41E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B41338A-22F2-4A29-87D4-7F082724D9F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FA81D27-CABF-4043-9B09-A202039AF2D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9C8DC07-F443-46E5-9F28-20F5776CA638</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91EF2717-14AF-49E2-B57C-78B7CFF08EAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F0A13C15-5625-4F49-880A-83FA07DA53E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9549474F-29B5-4793-B043-4667B629711C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>868CAD17-CC2B-4C35-8AE1-A216082DC41E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4B9C802-C08C-4CB8-A29E-3F623082C106</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FA81D27-CABF-4043-9B09-A202039AF2D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B640D233-CFF9-4AEB-AFE6-13F3F97E2C7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF696190-5032-4083-A5E6-EFE826C2D17B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B84D8EEF-3E61-4C5D-B8AD-1848135631E5</key>
		<array/>
		<key>BF696190-5032-4083-A5E6-EFE826C2D17B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0D3152D-E692-471B-886D-E5B00EE6149A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D635B25-DAFB-4689-AA45-8362D5DFDFED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C604F4DE-0FFA-4B8A-BD37-744244C1FA63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AED7C89-6C6A-479A-93D4-4226139E92BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBF0965E-BE62-4EF2-ACD2-82C612DE8B17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D985A348-9EC9-4E3E-AF6E-16565F29AB3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C604F4DE-0FFA-4B8A-BD37-744244C1FA63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9C8DC07-F443-46E5-9F28-20F5776CA638</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to Clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0CA99CEF-6C99-4F9E-9D64-7550D035BFCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB8185F3-D20E-4C96-9F8A-D93179E6C1DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB8185F3-D20E-4C96-9F8A-D93179E6C1DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19F45D4B-51BC-48A5-AD00-D0A3E0D3F4E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0A13C15-5625-4F49-880A-83FA07DA53E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F83F0E49-D981-4636-8425-6D526363B019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F83F0E49-D981-4636-8425-6D526363B019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8B610A8-C46D-4E05-A373-569BDFCDCCC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA3AB7C3-077F-45B8-B7C3-4A2AE46B3C79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0D3152D-E692-471B-886D-E5B00EE6149A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Eldar Damari</string>
	<key>description</key>
	<string>Kubectl like pros.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fairfly Kubernetes CTL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python kh.py
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Kubernetes Wrofklow Help</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A5968EE1-AB84-4272-A100-C77DAA6CA5D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7AED7C89-6C6A-479A-93D4-4226139E92BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kclearvars</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear all cached variables from Worfklow</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D985A348-9EC9-4E3E-AF6E-16565F29AB3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python clear_cache.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C604F4DE-0FFA-4B8A-BD37-744244C1FA63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python set_env_var.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0D3152D-E692-471B-886D-E5B00EE6149A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Set kubernetes Dashboard url","arg":"dashboard_url","subtitle":"Always begin with http:\/\/ or https:\/\/"},{"title":"Set Kubectl command path","arg":"KUBECTL_CMD_PATH","subtitle":"default: \/usr\/local\/bin\/kubectl"}]</string>
				<key>keyword</key>
				<string>ksetenv</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9549474F-29B5-4793-B043-4667B629711C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Write full path to {var:set_path_to}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B41338A-22F2-4A29-87D4-7F082724D9F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5D635B25-DAFB-4689-AA45-8362D5DFDFED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>set_path_to</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>868CAD17-CC2B-4C35-8AE1-A216082DC41E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>configured_path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FA3AB7C3-077F-45B8-B7C3-4A2AE46B3C79</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching pods and deployments list using kubectl..</string>
				<key>script</key>
				<string>python kl.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show Pods and Deployments Full Names</string>
				<key>title</key>
				<string>Show Services Logs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B640D233-CFF9-4AEB-AFE6-13F3F97E2C7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubetail {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>BF696190-5032-4083-A5E6-EFE826C2D17B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ks</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Pods list using kubectl..</string>
				<key>script</key>
				<string>python ks.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Connect to pods shell</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2388E981-67F3-4F51-A4F3-FDE9D8B3FF63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubectl exec -ti {query} bash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>2466C1EE-A094-4143-B5AB-B301EDB10FAB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubectl get {query} -w</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B84D8EEF-3E61-4C5D-B8AD-1848135631E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>watch</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0CA99CEF-6C99-4F9E-9D64-7550D035BFCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Watch pods and deployments","arg":"watch","subtitle":"kubectl get &lt;service&gt; -w"},{"title":"Describe pods and deployments","arg":"describe","subtitle":"kubectl describe &lt;service&gt;"}]</string>
				<key>keyword</key>
				<string>kw</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Watch &amp; Describe pods and deployments</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B4B9C802-C08C-4CB8-A29E-3F623082C106</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Pods &amp; Deployments list using kubectl..</string>
				<key>script</key>
				<string>python kw.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Watch &amp; Describe pods and deployments</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9C8DC07-F443-46E5-9F28-20F5776CA638</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8FA81D27-CABF-4043-9B09-A202039AF2D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubectl describe {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>19F45D4B-51BC-48A5-AD00-D0A3E0D3F4E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>describe</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EB8185F3-D20E-4C96-9F8A-D93179E6C1DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubectl delete {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>2DD3C535-18E2-49C2-8B40-61CBAD276714</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Pods &amp; Deployments list using kubectl..</string>
				<key>script</key>
				<string>python kr.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>SHIFT + RETURN to delete service.</string>
				<key>title</key>
				<string>Delete pods and deployments</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>19A5D1B2-3845-42B4-AA54-24B2AA621FF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Deleted Successfully!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4CEFAEC1-AAD5-4E24-BF48-B2A0E9A27D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ Press SHIFT + ⏎ to delete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93F099D5-3CE0-4964-9C67-D5A91E31DFFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kre</string>
				<key>subtext</key>
				<string>Press and hold SHIFT</string>
				<key>text</key>
				<string>Remove Evicted Pods</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83BD9125-A9FB-47F3-88D9-62E6879A9C1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>kubectl get pods | grep Evicted | cut -d' ' -f 1 | xargs kubectl delete pod</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CBF0965E-BE62-4EF2-ACD2-82C612DE8B17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>kd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Kubernetes Dashboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0E65A92E-AB50-4CB0-951B-13420E7E7758</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python dashboard.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0A13C15-5625-4F49-880A-83FA07DA53E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F8B610A8-C46D-4E05-A373-569BDFCDCCC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F83F0E49-D981-4636-8425-6D526363B019</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kds</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching deployments list using kubectl..</string>
				<key>script</key>
				<string>python kdd.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Kubernetes Dashboard - Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>91EF2717-14AF-49E2-B57C-78B7CFF08EAA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kdm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching pods and deployments list using kubectl..</string>
				<key>script</key>
				<string>python kl.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show Pods and Deployments Full Names</string>
				<key>title</key>
				<string>Show datadog CPU/Memory metrics for a deployment</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>512A23DA-B2FC-4980-A99A-FB26ECB61005</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.datadoghq.com/metric/explorer?live=true&amp;page=0&amp;is_auto=false&amp;tile_size=m&amp;exp_metric=docker.mem.in_use%2Ckubernetes.memory.usage%2Ckubernetes_state.node.memory_capacity%2Cdocker.cpu.usage%2Ckubernetes.cpu.usage.total&amp;exp_scope=kube_deployment%3A{query}&amp;exp_agg=avg&amp;exp_row_type=metric</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>09813773-DD6D-4F9D-B8AF-BD5C086272F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>** Alfred Kubernetes Wrokflow **

It's all about productifity, using this workfow will give you the option to access all of your kubernetes assetes (pods, deployments, replica sets..) in much faster and safer way.





Icons credit: href="https://www.flaticon.com/</string>
	<key>uidata</key>
	<dict>
		<key>09813773-DD6D-4F9D-B8AF-BD5C086272F2</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>1850</integer>
		</dict>
		<key>0CA99CEF-6C99-4F9E-9D64-7550D035BFCD</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>0E65A92E-AB50-4CB0-951B-13420E7E7758</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1580</integer>
		</dict>
		<key>19A5D1B2-3845-42B4-AA54-24B2AA621FF7</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>19F45D4B-51BC-48A5-AD00-D0A3E0D3F4E3</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>2388E981-67F3-4F51-A4F3-FDE9D8B3FF63</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>2466C1EE-A094-4143-B5AB-B301EDB10FAB</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>2B41338A-22F2-4A29-87D4-7F082724D9F0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>2DD3C535-18E2-49C2-8B40-61CBAD276714</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>4CEFAEC1-AAD5-4E24-BF48-B2A0E9A27D9B</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>512A23DA-B2FC-4980-A99A-FB26ECB61005</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1850</integer>
		</dict>
		<key>54E9A32B-D9EE-42DE-930B-1ED04A2410D2</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>5D635B25-DAFB-4689-AA45-8362D5DFDFED</key>
		<dict>
			<key>xpos</key>
			<integer>1190</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>7AED7C89-6C6A-479A-93D4-4226139E92BC</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>83BD9125-A9FB-47F3-88D9-62E6879A9C1C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1380</integer>
		</dict>
		<key>868CAD17-CC2B-4C35-8AE1-A216082DC41E</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>8FA81D27-CABF-4043-9B09-A202039AF2D3</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>91EF2717-14AF-49E2-B57C-78B7CFF08EAA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1700</integer>
		</dict>
		<key>93F099D5-3CE0-4964-9C67-D5A91E31DFFB</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>1320</integer>
		</dict>
		<key>9549474F-29B5-4793-B043-4667B629711C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>A5968EE1-AB84-4272-A100-C77DAA6CA5D1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B4B9C802-C08C-4CB8-A29E-3F623082C106</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>B640D233-CFF9-4AEB-AFE6-13F3F97E2C7A</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>B84D8EEF-3E61-4C5D-B8AD-1848135631E5</key>
		<dict>
			<key>xpos</key>
			<integer>1020</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>BF696190-5032-4083-A5E6-EFE826C2D17B</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>C0D3152D-E692-471B-886D-E5B00EE6149A</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>C604F4DE-0FFA-4B8A-BD37-744244C1FA63</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>CBF0965E-BE62-4EF2-ACD2-82C612DE8B17</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1380</integer>
		</dict>
		<key>D985A348-9EC9-4E3E-AF6E-16565F29AB3C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E9C8DC07-F443-46E5-9F28-20F5776CA638</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>960</integer>
		</dict>
		<key>EB8185F3-D20E-4C96-9F8A-D93179E6C1DA</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>F0A13C15-5625-4F49-880A-83FA07DA53E4</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>1630</integer>
		</dict>
		<key>F83F0E49-D981-4636-8425-6D526363B019</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>1660</integer>
		</dict>
		<key>F8B610A8-C46D-4E05-A373-569BDFCDCCC6</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>1630</integer>
		</dict>
		<key>FA3AB7C3-077F-45B8-B7C3-4A2AE46B3C79</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>www.fairfly.com</string>
</dict>
</plist>
